body{
    background-color: #d9ddd7;
    front_family: Verdana;
}
th {
    background-color: #27426d;
    color: #c7ced8;
}
td{
    background-color: #27426d;
    color: #c7ced8;
}
.table{
    width: 50%;
    background-color: #000257;
    text-align: center;
}
.blue{
    background-color:#4f8cef;
}
.light-blue{
    background-color:#6facff;
}
.div{
    display: flex;
    justify-content: center;
    width: 100%;
}